{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center mt-5 ">
        <div class="col-md-7 text-center">

                 <h1>This is your site with tasks for a day, a week, maybe a month or more.</h1>
            <p>Life is fleeting and we often do not have enough time. And I hope that with the help of my project you will have more free time for your family and your dreams.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signup' %}">Start</a>
        </div>
    </div>
{% endblock content %}
